---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm <b class="font-bold">Josue</b>, a <b class="font-bold"
        >solutions-focused Customer Experience (CX) professional</b
      > with a <b class="font-bold">Systems Engineering</b> background. I specialize
      in translating complex business requirements into scalable, <b
        class="font-bold">AI-driven solutions</b
      > that redefine the enterprise support journey.
    </p>
    <p class="text-sm font-light">
      My core expertise includes end-to-end <b class="font-bold"
        >solution design</b
      >, <b class="font-bold">CX automation</b>, strategic <b class="font-bold"
        >escalation management</b
      >, and <b class="font-bold">agile project delivery</b>.
    </p>
    <p class="text-sm font-light">
      I am driven by a commitment to not just solve problems, but to <b
        class="font-bold">architect lasting improvements</b
      > that boost efficiency and deliver an exceptional, measurable impact on the
      <b class="font-bold">customer experience</b>.
    </p>
  </div>
</Card>
