---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Let's start working together!
      </h1>
    </header>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
     <a
          href="mailto:josuegarza.dev@gmail.com"
          class="text-red-500 hover:text-red-700 transition-colors"
        >
          josuegarza.dev@gmail.com
        </a>
    </address>

     <p class="text-gray-400 mt-2">
        <h2 class="text-gray-500">Location</h2>
        <span>Mexico City, Mexico</span>
      </p>

    <div class="flex flex-col mt-4 w-fit">

      <ul>
      <a
       class="text-red-500 hover:text-red-700 transition-colors"
            href={LINKS.resume}
            target="_blank">Resume</a
          >
      </ul>
    </div>
  </div>
</Card>


